:root{
    --spanColor: rgb(202, 243, 18);
    --bgYellow: rgb(255, 145, 0, 0.8);
    --bgPurple: rgba(90, 14, 126, 0.8);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #040425;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
} 
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    z-index: 10;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logoWrap{
    overflow: hidden;
}
nav .logoWrap h1 span{
    display: block;
    transform: translateY(-100%);
    color: #fff;
    font-size: 1.7em;
    pointer-events: none;
    font-family: "Tektur", sans-serif;
}
.left{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: rgba(225, 225, 225, 0.3);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 50%,
        80% 100%,
        0 100%
    );
} 
.right{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background: rgba(225, 225, 225, 0.3);
    clip-path: polygon(
        0 0,
        100% 0,
        100% 50%,
        80% 100%,
        0 100%
    );
    transform: rotate(180deg)
    scaleY(-1);
}
@media screen and (max-width: 768px) {
    .left{
        width: 170px;
    }
    .right{
        width: 170px;
    }
} */
.container{
    display: flex;
    flex-direction: column;
}
.bgBalls{
    position: relative;
}
.bgBalls .ball{
    border-radius: 50%;
}
.ball1{
    position: absolute;
    top: -20%;
    right: 2%;
    width: 250px;
    height: 250px;
    background: var(--bgPurple);
    box-shadow: 0 0 30px var(--bgPurple);
    animation: random1 8s infinite;
}
@keyframes random1 {
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-40%, 10%);
    }
   100%{
        transform: translate(0, 0);
    }
}
.ball2{
    position: absolute;
    bottom: 25%;
    left: 10%;
    width: 150px;
    height: 150px;
    background: var(--bgPurple);
    box-shadow: 0 0 30px var(--bgPurple);
    animation: random2 10s infinite;
}
@keyframes random2 {
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(5%, -30%);
    }
    50%{
        transform: translate(10%, 20%);
    }
    75%{
        transform: translate(-10%, -40%);
    }
   100%{
        transform: translate(0, 0);
    }
}
.ball3{
    position: absolute;
    top: 60%;
    left: 20%;
    width: 200px;
    height: 200px;
    background: var(--bgYellow);
    box-shadow: 0 0 30px var(--bgYellow);
    animation: random3 10s infinite;
}
@keyframes random3 {
    0%{
        transform: translate(0, 0);
    }
    50%{
        transform: translate(-40%, -20%);
    }
   100%{
        transform: translate(0, 0);
    }
}
.ball4{
    position: absolute;
    top: 50%;
    right: 40%;
    width: 100px;
    height: 100px;
    background: var(--bgYellow);
    box-shadow: 0 0 30px var(--bgYellow);
    animation: random4 10s infinite;
}
@keyframes random4 {
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(-25%, 5%);
    }
    50%{
        transform: translate(-10%, 30%);
    }
    75%{
        transform: translate(-8%, 20%);
    }
   100%{
        transform: translate(0, 0);
    }
}
.blurBg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(40px);
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 20em; 
}
.hero{
    color: #fff;
    position: absolute;
    z-index: 5;
}
.hero .content h1{
    font-size: 3em;
    text-align: center;
    pointer-events: none;
    font-family: "Tektur", sans-serif;
}
.content span{
    color: var(--spanColor);
}
.nftImg{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    padding: 10px 3em;
    margin-top: 5em;
    transition: 0.5s ease-out;
}
.nftImg .nftLeft{
    display: flex;
    flex-direction: column;   
}
.nftLeft img{
    object-fit: cover;
    margin: 30px 0;
    border-radius: 10px;
    transition: transform 0.5s ease-out;
}
.nftImg .nftLeft img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.nftLeft img:nth-child(1){
    width: 120px;
    height: 140px;
    transform: rotate(-20deg);
}
.nftLeft img:nth-child(2){
    margin-left: 3em;
    border-radius: 50%;
    width: 120px;
    height: 120px;
}
.nftLeft img:nth-child(3){
    transform: rotate(-10deg);
    width: 130px;
    height: 140px;
}
.nftImg .nftRight{
    display: flex;
    flex-direction: column;
}
.nftRight img{
    object-fit: cover;
    margin: 30px 0;
    border-radius: 8px;
    transition: transform 0.5s ease-out;
}
.nftImg .nftRight img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.nftRight img:nth-child(1){
    width: 120px;
    height: 140px;
    transform: rotate(20deg);
}
.nftRight img:nth-child(2){
    transform: rotate(5deg);
    width: 120px;
    height: 140px;
}
.nftRight img:nth-child(3){
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.discover{
    display: grid;
    place-items: center;
    padding: 1em;
}
.discoverWrap{
    width: 480px;
    height: 2.5em;
    border-radius: 50px;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(59, 11, 59), rgb(13, 13, 66));
}
.discoverWrap .text{
    margin-left: 1em;
}
.new{
    width: 5em;
    height: 2em;
    display: grid;
    place-items: center;
    margin-left: 7px;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    background: linear-gradient(to right, rgb(209, 6, 209) 30%, rgb(5, 8, 221));
}
.content p{
    margin-top: .5em;
    text-align: center;
}
.content .btn{
    display: flex;
    justify-content: center;
    column-gap: 1em;
    margin-top: 1.5em;
}
.btn button{
    border: none;
    outline: none;
    border-radius: 8px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
.btn button:hover{
    cursor: pointer;
}
.btn button i{
    padding: 0 2px;
    color: #fff;
}
.btn button:nth-child(1){
    width: 13.5em;
    height: 2.7em;
    background: linear-gradient(to bottom right, rgb(188, 8, 194) 30%, rgb(2, 103, 170));
}
.btn button:nth-child(2){
    width: 8.5em;
    height: 2.7em;
    position: relative;
    background: #040425;
    transition: 0.1s ;
}
.btn button:nth-child(2):hover{
    background: #000;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.btn button:nth-child(2)::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--angle),
    purple,
    blue,
    rgb(202, 243, 18),
    purple,
    blue,
    rgb(202, 243, 18, 0.5),
    purple);
    border-radius: 12px;
    padding: 2px;
    filter: blur(2px);
    opacity: 1;
    animation: 8s spin linear infinite;
}
@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
.btn button a{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
}
.items{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 1.5em;
    margin-top: 18em;
    position: absolute;
    z-index: 5;
}
.items .iBox{
    width: 13em;
    height: 5em;
    display: grid;
    place-items: center;
    color: #fff;
    background-color: rgb(3, 3, 32);
    border-radius: 8px;
    position: relative;
    padding: 10px 0;
}
.items .iBox::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 1px;
    background: linear-gradient(to right, purple, blue);
    border-radius: 8px;
    filter: blur(1px);
    opacity: .7;
}
.items .iBox h1{
    font-family: "Tektur", sans-serif;
}
.items .iBox p{
    font-size: .8em;
    color: var(--spanColor);
}
.hot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 5;
    margin-top: 30em;
}
.hot h1{
    text-align: center;
    color: #fff;
}
.hot .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em 3em;
    justify-content: center;
    background: transparent;
    min-width: max-content;
    margin-top: 1em;
    padding: 10px;
}
.cards .card{
    width: auto;
    height: auto;
    padding: 8px 10px;
    color: #fff;
    background-color: rgb(3, 3, 32);
    border-radius: 12px;
    position: relative;
}
.cards .card::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    padding: 1px;
    background: linear-gradient(to right, purple, blue);
    border-radius: 8px;
    filter: blur(1px);
    opacity: .7;
}
.card .profile{
    display: flex;
    align-items: center;
    padding: 3px 0;
}   
.card .profile img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.card .profile p{
    padding-left: 7px;
}
.mainInfo img{
    width: 200px;
    height: 170px;
    object-fit: cover;
    border-radius: 14px;
}
.mainInfo h2{
    font-size: 1.2em;
}
.mainInfo .artText{
    padding: 8px 0;
}
.mainInfo .artText h2{
    font-weight: 600;
}
.mainInfo .artText p{
    padding-top: 3px;
}
.sellInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.sellInfo button{
    border: 1px solid red;
    outline: none;
    color: #fff;
    background: none;
    padding: 5px 8px;
    border-radius: 50px;
}