body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background-color: #212121;
}
/* .text-reveal{
    position: relative;
    overflow: hidden;
}
.text-reveal span{
    display: inline-block;
    white-space: nowrap;
    transform: translateY(100%);
} */
 .text-reveal{
    overflow: hidden;
 }
 .text-reveal span{
    display: block;
    transform: translateY(-100%);
 }